[submodule "UC1_Crop_Monitoring"]
	path = UC1_Crop_Monitoring
	url = https://github.com/ICAERUS-EU/UC1_Crop_Monitoring.git
	branch = main
[submodule "UC4_Forestry_and_Biodiversity"]
	path = UC4_Forestry_and_Biodiversity
	url = https://github.com/ICAERUS-EU/UC4_Forestry_and_Biodiversity.git
	branch = main
[submodule "UC3_Livestock_Monitoring"]
	path = UC3_Livestock_Monitoring
	url = https://github.com/ICAERUS-EU/UC3_Livestock_Monitoring.git
	branch = main
[submodule "UC5_Rural_Logistics"]
	path = UC5_Rural_Logistics
	url = https://github.com/ICAERUS-EU/UC5_Rural_Logistics.git
[submodule "UC2_Drone_Spraying"]
	path = UC2_Drone_Spraying
	url = git@github.com:ICAERUS-EU/UC2_Drone_Spraying.git
